# Diffrence Between Fetchone and Fetchall method

In [1]:
import mysql.connector

con1 = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="mydatabase"
)
print(con1)

<mysql.connector.connection.MySQLConnection object at 0x00000190724F4B70>

In [2]:
mycursor = con1.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchone()

print(myresult)

(1, 'John', 'Highway 21', 'john.krohn@icloud.com')

In [3]:
myresult = mycursor.fetchone()
print(myresult)

(2, 'Peter', 'Lowstreet 4', None)

In [4]:
myresult = mycursor.fetchone()
print(myresult)
myresult = mycursor.fetchone()
print(myresult)
myresult = mycursor.fetchone()
print(myresult)
myresult = mycursor.fetchone()
print(myresult)

(3, 'Amy', 'Apple st 652', None)
(4, 'Hannah', 'Mountain 21', None)
(5, 'Michael', 'Valley 345', None)
(6, 'Sandy', 'Ocean blvd 2', None)

In [5]:
myresult = mycursor.fetchall()
for row in myresult:
    print(row)

(7, 'Betty', 'Green Grass 1', None)
(8, 'Richard', 'Sky st 331', None)
(9, 'Susan', 'One way 98', None)
(10, 'Vicky', 'Yellow Garden 2', None)
(11, 'Ben', 'Park Lane 38', None)
(12, 'William', 'Central st 954', None)
(13, 'Chuck', 'Main Road 989', None)
(14, 'Viola', 'Sideway 1633', None)
(15, 'Michelle', 'Blue Village', None)