# JOIN

In [1]:
import mysql.connector

con1 = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="mydatabase"
)
print(con1)

<mysql.connector.connection.MySQLConnection object at 0x000001E9A32D6A90>

In [2]:
mycursor = con1.cursor()
mycursor.execute("CREATE TABLE users (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), fav INT)")
query = "INSERT INTO users (name, fav) VALUES (%s, %s)"
val = [
  ('John', 154),
  ('Peter', 154),
  ('Amy', 155),
  ('Michael',157),
  ('Hannah',158)
]
mycursor.executemany(query,val)
con1.commit()

mycursor.execute("SELECT * FROM users")
res = mycursor.fetchall()

for row in res:
    print(row)

(1, 'John', 154)
(2, 'Peter', 154)
(3, 'Amy', 155)
(4, 'Michael', 157)
(5, 'Hannah', 158)

In [3]:
mycursor.execute("CREATE TABLE products (id INT, name VARCHAR(255))")
query = "INSERT INTO products (id, name) VALUES (%s, %s)"
val = [
  (154, "Chocolate Heaven"),
  (155, "Tasty Lemons"),
  (156, "Vanilla Dreams")
]
mycursor.executemany(query,val)
con1.commit()

mycursor.execute("SELECT * FROM products")
res = mycursor.fetchall()

for row in res:
    print(row)

(154, 'Chocolate Heaven')
(155, 'Tasty Lemons')
(156, 'Vanilla Dreams')

In [4]:
mycursor = con1.cursor()

query = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"

mycursor.execute(query)

myresult = mycursor.fetchall()

for row in myresult:
     print(row)

('John', 'Chocolate Heaven')
('Peter', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')