# Retriving Data From Tables

In [1]:
import mysql.connector

con1 = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="mydatabase"
)
print(con1)

<mysql.connector.connection.MySQLConnection object at 0x000002C783334A20>

In [2]:
mycursor = con1.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for row in myresult:
    print(row)

(1, 'John', 'Highway 21', 'john.krohn@icloud.com')
(2, 'Peter', 'Lowstreet 4', None)
(3, 'Amy', 'Apple st 652', None)
(4, 'Hannah', 'Mountain 21', None)
(5, 'Michael', 'Valley 345', None)
(6, 'Sandy', 'Ocean blvd 2', None)
(7, 'Betty', 'Green Grass 1', None)
(8, 'Richard', 'Sky st 331', None)
(9, 'Susan', 'One way 98', None)
(10, 'Vicky', 'Yellow Garden 2', None)
(11, 'Ben', 'Park Lane 38', None)
(12, 'William', 'Central st 954', None)
(13, 'Chuck', 'Main Road 989', None)
(14, 'Viola', 'Sideway 1633', None)
(15, 'Michelle', 'Blue Village', None)

In [3]:
for row in myresult:
    print(row[0], " ", row[2])

1   Highway 21
2   Lowstreet 4
3   Apple st 652
4   Mountain 21
5   Valley 345
6   Ocean blvd 2
7   Green Grass 1
8   Sky st 331
9   One way 98
10   Yellow Garden 2
11   Park Lane 38
12   Central st 954
13   Main Road 989
14   Sideway 1633
15   Blue Village