# LIMITING RESULTS

In [1]:
import mysql.connector

con1 = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="mydatabase"
)
print(con1)

<mysql.connector.connection.MySQLConnection object at 0x000002CAE09B6B38>

In [2]:
mycursor = con1.cursor()

mycursor.execute("SELECT * FROM customers LIMIT 5")

myresult = mycursor.fetchall()

for row in myresult:
     print(row)

(1, 'Peter', 'Lowstreet 4')
(2, 'Amy', 'Apple st 652')
(3, 'Hannah', 'Mountain 21')
(4, 'Michael', 'Canyon 123')
(5, 'Sandy', 'Ocean blvd 2')