# UPDATING DATA

In [1]:
import mysql.connector

con1 = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="mydatabase"
)
print(con1)

<mysql.connector.connection.MySQLConnection object at 0x0000020809B36A58>

In [2]:
mycursor = con1.cursor()

query = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Canyon 123", "Valley 345")

mycursor.execute(query, val)

con1.commit()

print(mycursor.rowcount, "record(s) affected")

0 record(s) affected

In [3]:
query = "SELECT * FROM customers"
mycursor.execute(query)
res = mycursor.fetchall()

for row in res:
    print(row)

(1, 'Peter', 'Lowstreet 4')
(2, 'Amy', 'Apple st 652')
(3, 'Hannah', 'Mountain 21')
(4, 'Michael', 'Canyon 123')
(5, 'Sandy', 'Ocean blvd 2')
(6, 'Betty', 'Green Grass 1')
(7, 'Richard', 'Sky st 331')
(8, 'Susan', 'One way 98')
(9, 'Vicky', 'Yellow Garden 2')
(10, 'Ben', 'Park Lane 38')
(11, 'William', 'Central st 954')
(12, 'Chuck', 'Main Road 989')
(13, 'Viola', 'Sideway 1633')