# UPDATING DATA

In [1]:
import mysql.connector

con1 = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="mydatabase"
)
print(con1)

<mysql.connector.connection.MySQLConnection object at 0x00000292462C6A90>

In [2]:
mycursor = con1.cursor()
mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")
con1.commit()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

con1.commit() ## Not for all version ! do it anyway there is no harm!

print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [3]:
mycursor = con1.cursor()

query = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"

mycursor.execute(query)

con1.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [4]:
query = "SELECT * FROM customers"
mycursor.execute(query)
res = mycursor.fetchall()

for row in res:
    print(row)

(1, 'Peter', 'Lowstreet 4')
(2, 'Amy', 'Apple st 652')
(3, 'Hannah', 'Mountain 21')
(4, 'Michael', 'Canyon 123')
(5, 'Sandy', 'Ocean blvd 2')
(6, 'Betty', 'Green Grass 1')
(7, 'Richard', 'Sky st 331')
(8, 'Susan', 'One way 98')
(9, 'Vicky', 'Yellow Garden 2')
(10, 'Ben', 'Park Lane 38')
(11, 'William', 'Central st 954')
(12, 'Chuck', 'Main Road 989')
(13, 'Viola', 'Sideway 1633')