# Creating Connection
<span style='display:none;'>Copyright All Rights Reserved Ramin Saljoughinejad</span>

In [1]:
import pymongo

In [2]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

In [3]:
print(myclient.list_database_names())

['admin', 'config', 'local']

In [5]:
dblist = myclient.list_database_names()
if "mydatabase" in dblist:
    print("The Database Exists.")
else:
    print("Database Not Found")

Database Not Found

In [6]:
mycol = mydb["customers"]

In [7]:
print(mydb.list_collection_names())

[]

In [8]:
collist = mydb.list_collection_names()
if "customers" in collist:
    print("The collection exists.")
else:
    print("Collection Not Found")

Collection Not Found

In [9]:
mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [11]:
print(myclient.list_database_names())

['admin', 'config', 'local', 'mydatabase']

In [12]:
print(mydb.list_collection_names())

['customers']

In [13]:
mydict = { "name": "Peter", "address": "Lowstreet 27" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

5cf41af36a8a1120ff5cd236

In [14]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('5cf41b126a8a1120ff5cd237'), ObjectId('5cf41b126a8a1120ff5cd238'), ObjectId('5cf41b126a8a1120ff5cd239'), ObjectId('5cf41b126a8a1120ff5cd23a'), ObjectId('5cf41b126a8a1120ff5cd23b'), ObjectId('5cf41b126a8a1120ff5cd23c'), ObjectId('5cf41b126a8a1120ff5cd23d'), ObjectId('5cf41b126a8a1120ff5cd23e'), ObjectId('5cf41b126a8a1120ff5cd23f'), ObjectId('5cf41b126a8a1120ff5cd240'), ObjectId('5cf41b126a8a1120ff5cd241'), ObjectId('5cf41b126a8a1120ff5cd242')]

In [15]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]